@charset "UTF-8";

@media screen and (min-width: 340px) and (max-width: 768px) {
    main {
        display: flex;
        margin: auto;
        justify-content: center;
        flex-direction: row;
    }
}