@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
html{ 
    width: 100vw;
    height: 100vh;
}
body{
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    width: 1030px;
}

article {
    width: 500px;
    margin-right: 25px;
}

article > p {
    margin-top: 25px;
    font-size: 1.3em;
    font-weight: 300;
}

form{
    width: 500px;
}

h1 {
    margin: 0 0 25px 0;
    font-size: 3.5em;
    font-weight: 600;
}
input{
    width: 400px;
    height: 30px;
    margin: 4.5px;
    border-radius: 5px;
}
textarea{ 
    width: 400px;
    border-radius: 5px;
    margin-left: 4px;
}
.button{
    box-sizing: border-box;
    padding: 8px;
    width: 180px;
    margin: 25px -85px 0 222px;
    background-color: rgb(209, 21, 59);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.712);
}

footer {
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 25px;
}
a {
    color: white;

}
